header{
  .contenedor-info {                                     // datos del ministerio
    .info-datos {                                              //.info-datos(ul)
      background:#ECf0f1;
      display:flex;
      justify-content:space-between;
      width:100%;

      li{
        font:lighter 1.6em "Roboto", Segoe  UI, Sans-Serif;/*letra fina 18px fuente Roboto*/
        padding:10px;/*Margenes internos de lso Items*/
        width:28%;/*Tamaño de los Items */
      }

    }

  }

}
/*icons*/
header .contenedor-info .info-datos li span {
  margin-right:10px;
  font-size:1em;/*tamaño de los icons*/
}
